/* Mobile */

@media only screen and (max-width: 750px){
	
	/* header */

	header .menu{
		display: none;
	}

	header .wrapper-menu{
		display: block;
	}

	/* header */

	/*section*/

	section.l-index{
		width: 100%;
	} 

	section.l-index .wrapper-news .news{
		width: 100%;
	}

	/*section*/
	
	/*footer*/

	footer .footer-content .col{
		width: 100%;

	}

	/*footer*/
	
/* Mobile */