footer{
	background-color: #f3f3f3;
}
footer .back-to-top{
	background-color: #0168ac;
	color: #fff;
	font-weight: 700;
	padding: 5px 0;
	text-align: center;
}

footer .back-to-top:hover{
	color: #000;
	cursor: pointer;
}

footer .footer-content{
	border-bottom: solid 1px gray;

}

footer .footer-content .wrapper-col{
	width: 25%;
	margin: 0 auto;
}

footer .footer-content .col{
	display: inline-block;
	text-align: center;
	padding: 10px;

}

footer .footer-content .col ul li a{
	color: #666;
	font-weight: 700;
}

footer .footer-content .col ul li h4{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

footer .footer-bottom{
	padding-top: 1%;
}

footer .footer-logo{
	width: 180px;
}

footer .footer-logo span a{
	color: #333;
	padding: 2px 5px;
}

footer span{
	font-size: 12px;
}

footer .social-links ul li{
	border: solid 1px #333;
	border-radius: 10%;
	display: inline-block;
	margin-right: 2px;
}

.social-links ul li a{
	color: #fff;
	padding: 2px 5px;
}

footer .social-links ul li.one{
	background-color: #2d609b;
}

footer .social-links ul li.two{
	background-color: #00c3f3;
}

footer .social-links ul li.three{
	background-color: #eb4026;
}

footer .social-links ul li.four{
	background-color: #ff4e2e;
}
	background-color: #0168ac;
