#modal .news-title{
	text-align: center;
	color: #fcfcfc;
	padding: 5px 0;
	font-size: xx-large;
	background-color: #0168ac;
}

#modal .news-img{
	padding: 20px 0px 0px;
	width: 400px;
	height: 400px;
	margin: 0 auto;
}