.wrapper-menu{
	clear: both;
}

.wrapper-menu .open-menu{
	border: solid 1px #000;
	padding: 10px 20px;
	margin: 0px 30px 10px 10px;
}

.wrapper-menu .open-menu h6{
	display: inline-block;
	font-size: 16px;
}

.wrapper-menu .sub-menu ul{
	background-color: #f3f3f3;
	width: 200px;
}

.wrapper-menu .sub-menu ul li{
	border-bottom: 1px solid gray;
	padding: 5px;
}

.wrapper-menu .sub-menu ul li a{
	color: #333;
	text-align: center;
}