.wrapper-menu{
	position: relative;
}

.wrapper-menu .open-menu{
	padding: 15px 70px;
	text-align: center;
	cursor: pointer;
}

.wrapper-menu .open-menu h6,i{
	display: inline-block;
	font-size: 20px;
	color: #fff;
}

.wrapper-menu .sub-menu ul{
	background-color: #f3f3f3;
	position: absolute;
	top: 52px;
	left: 0;
	right: 0;
}

.wrapper-menu .sub-menu ul li{
	border-bottom: 1px solid gray;
}

.wrapper-menu .sub-menu ul li a{
	color: #333;
	text-align: center;
	padding: 5px;
}